[2019-10-28 20:09] victoriaheath opened #1 "Add open-licensed font—CC Accidenz Commons"
Please add the open-licensed font that was commissioned specifically for CC to Vocabulary.
It is available via download from WP here: https://d15omoko64skxi.cloudfront.net/wp-content/uploads/2019/10/CC-Accidenz-Commons-medium.otf_.zip

For more info on this font, please read this post: https://creativecommons.org/2019/10/28/accidenz-commons-open-licensed-font/

[2019-11-01 23:50] dhruvkb commented on #1
@brenoferreira and @hugosolar I'd love to know your views about creating a repository and maybe even an `npm` package for fonts specific to Creative Commons for the following reasons.
- Google Fonts requires a persistent Internet connection, this would make development more viable on slower/unstable connections
- CDNs are geographically unreliable due to national restrictions.
- Self hosting fonts

[2019-11-07 11:39] brenoferreira commented on #1
Not sure I understood your suggestion. Do you mean having the font available only as an npm package and via a repository here on Github?

[2019-11-07 16:01] dhruvkb commented on #1
@brenoferreira my idea was to have the font(s) in a GitHub repository, which is being published via `npm`. This would allow people to install the font (and associated CSS stylesheets) via a package manager...

[code]

...or via a CDN.

[code]

We also get the added benefits I listed above plus one I forgot to mention
- We can also host a showcase website for the font, such as [this one](https://ru

[2020-02-23 19:28] dhruvkb commented on #1
This issue is addressed by #2.

[2020-02-24 19:16] #1 closed

[2020-02-29 19:52] dhruvkb opened #3 "Develop a font preview table"
**Description**
Develop a table, like the one shown below, to see most characters of the font in one go. This would allow us to quickly see most, though not all, of the characters, giving glanceable information about the aesthetics of the font.

**Additional context**
This table was taken from the CC Accidenz Commons introductory blog post.
![image](https://user-images.githubusercontent.com/165805

[2020-02-29 19:57] dhruvkb opened #4 "Add Roboto and Souce Sans Pro"
**Description**
Apart from CC Accidenz Commons, the CC sites use 'Roboto' and 'Source Sans Pro' in their UIs. Citing benefits listed in https://github.com/creativecommons/fonts/issues/1#issuecomment-548986367, it would be wise to include those fonts here as well.

**Problems solved**
https://github.com/creativecommons/fonts/issues/1#issuecomment-548986367

**Alternatives**
We are currently importi

[2020-02-29 20:49] Tanuj22 commented on #4
@dhruvkb Can I work on this?

[2020-03-01 10:53] dhruvkb commented on #4
@Tanuj22 please do.

[2020-03-01 12:20] Tanuj22 commented on #4
@dhruvkb This is the stylesheet in Vocabulary https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Roboto+Condensed. Should I define fonts for every part like cyrillic, greek etc. ?

[2020-03-01 12:56] kushaggarwal commented on #3
Hello,
I would like to go for this issue

[2020-03-01 16:54] kushaggarwal commented on #3
In what format does the table need to be aligned for the same @dhruvkb can you please help

[2020-03-01 17:58] dhruvkb commented on #3
I can't think of any good alignment to arrange these characters. See if you can come up with something.
- 26 characters from `A - Z`
- 26 characters from `a -z
- 10 numbers from `0 - 9`
- the following symbols
[code]

These could also be split into separate stories, making the process much simpler.

[2020-03-02 05:04] kushaggarwal commented on #3
Okay will start working with the same
Thank you

[2020-03-02 08:59] kushaggarwal commented on #3
As you have described in the above mentioned format I have aligned the elements in the similar form kind of giving the look and feel of a keyboard with one story as the name of the font with subsection each describing the types of characters like uppercase, lowercase.
Below is a screenshot for reference please guide for the same .
Thankyou
![Screenshot 2020-03-02 at 2 16 43 PM](https://user-images

[2020-03-02 09:02] kushaggarwal commented on #3
Also I have given a effect upon hovering as in below image to further elevate the look and feel of it, please advice for the same too
![Screenshot 2020-03-02 at 2 31 41 PM](https://user-images.githubusercontent.com/44523552/75661039-94d21d00-5c92-11ea-929d-19f2f4400bd8.png)

[2020-03-03 07:22] kushaggarwal commented on #3
@dhruvkb can you please guide as if above design is fine  and also which all font styles are we targeting for the above mentioned issue

[2020-03-03 08:38] dhruvkb commented on #3
@kushaggarwal It looks good, and the hover effect is a nice touch, but I would prefer
- left aligned, not center
- slight grey background on hover instead of completely inverted
- more uniform distribution of characters, instead of 10-8-6-2
- mobile responsive, _if feasible_

[2020-03-03 08:41] kushaggarwal commented on #3
Okay @dhruvkb will start working keeping above points in mind
Please can you share what other fonts style we are targeting to integrate
Thank You

[2020-03-04 06:45] kushaggarwal commented on #3
Hello @dhruvkb  please see for the attached screenshot regarding the changes and improvements as recommended by you for all three types Uppercase, Lowercase and Numbers
![Screenshot 2020-03-04 at 12 14 06 PM](https://user-images.githubusercontent.com/44523552/75852390-df2dd800-5e11-11ea-8276-28c658889fcd.png)
![Screenshot 2020-03-04 at 12 14 01 PM](https://user-images.githubusercontent.com/4452355

[2020-03-04 06:52] kushaggarwal commented on #3
Hello @dhruvkb please find  the below attached screenshot regarding the improvement and changes as recommended by you for the three types i.e Uppercase, Lowercase and Numbers
Thank you
![Screenshot 2020-03-04 at 12 20 39 PM](https://user-images.githubusercontent.com/44523552/75852758-b35f2200-5e12-11ea-9512-d171a1c5a4b7.png)
![Screenshot 2020-03-04 at 12 20 42 PM](https://user-images.githubusercon

[2020-03-04 16:51] dhruvkb commented on #3
Looks good, you should open a draft PR so that we can review it as you work on it. It's generally good advice to have a draft PR open as soon as you start working on any issue.

[2020-03-04 17:05] kushaggarwal commented on #3
Okay will do so thanks
Also @dhruvkb can you please help me with what other are font styles are we targeting for this particular improvement so that I can start with that too
Thank You

[2020-03-04 18:15] dhruvkb commented on #3
We are not targeting Times New Roman, we need this kind of preview in the already existing CC Accidenz Commons story for now.

[2020-03-04 18:18] kushaggarwal commented on #3
Okay will update the component for the same

[2020-03-05 10:46] kushaggarwal commented on #3
Hello @dhruvkb have updated the font style to accidez commons and commited the changes too
Shall I start for the other font styles too in the same request or should I turn this pull request to ready for review from draft
Please guide
Thank you

[2020-03-13 22:03] megha070 commented on #4
@dhruvkb if no one is working on this, Shall I take this up?

[2020-03-13 23:10] Tanuj22 commented on #4
@megha070 I am already working on this issue and have a PR open. I will make the requested changes in the PR soon. Please find another issue to work upon.

[2020-03-14 04:38] megha070 commented on #4
Alright!

[2020-03-14 16:06] dhruvkb opened #12 "Deploy project to npm and unpkg"
The project needs to be built and pushed to npm and, through a field in `package.json`, to unpkg. The icon font from #8 needs to be used in some components in Vocabulary (like Locale and Input).

Importing from unpkg is a fine idea. But alternatives include installing the package via `npm` and bundling the assets via your own Webpack setup.

[2020-03-21 19:08] megha070 opened #21 "Update instructions.md"
**Description**

This issue aims at updating instructions.md file
**Reproduction**

**Expected behavior**

**Screenshots**

**Conditions:**

 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Additional context**

**Want to take up?**

[Yes|No]
Yes

[2020-03-21 19:23] megha070 opened #23 "First-timers-Guide for new contributors"
**Description**
First-timers contribution guide for beginners
**Problems solved**

**Alternatives**

**Additional context**

**Want to take up?**

[Yes|No]
yes

[2020-03-23 15:18] #3 closed

[2020-03-25 21:47] dhruvkb commented on #23
The first timers guide is still required. Just with more relevant content.

[2020-03-25 21:49] #4 closed

[2020-03-25 22:59] megha070 opened #25 "Replace JS stories with MDX Docs"
**Description**
Replace stories written in `.stories.js` files with MDX docs written in `.stories.mdx` format.

**Problems solved**
MDX presents a better way of combining code examples with long form documentation. It also enables the use of DocsPage components such as `Typeset` and `IconGallery`.

**Want to take up?**

[Yes|No]
Yes

[2020-03-26 01:42] dhruvkb commented on #25
@megha070 do you want to work on this? Set the answer in the **Want to take up?** section in the issue description.

[2020-03-26 08:59] megha070 commented on #23
Please guide me further on this.

[2020-03-26 10:12] kushaggarwal commented on #25
Hello @dhruvkb
I would also like to work on this

[2020-03-26 15:36] dhruvkb commented on #12
This has been implemented.

[2020-03-26 15:36] #12 closed

[2020-03-30 01:25] dhruvkb opened #29 "Update usage and contribution guidelines"
**Description**
Vocabulary has started to move usage and contribution guidelines outside of the `README.md` and `INSTRUCTIONS.md` file to Storybook docs as the single source of truth. See creativecommons/vocabulary#214 and creativecommons/vocabulary#272. A similar approach should be taken here.

**Problems solved**
This is to be done for consistency and, more importantly, because it enables us to

[2020-03-30 01:26] #21 closed

[2020-03-30 01:26] #23 closed

[2020-03-30 04:33] megha070 commented on #29
@dhruvkb I would like to take this up.

[2020-03-30 06:05] dhruvkb commented on #29
One at a time please. You are already working on #28.

[2020-03-30 06:18] megha070 commented on #29
@dhruvkb made necessary changes to #28. Please review!

[2020-03-30 17:59] jahnvigupta opened #30 "Add Snapshot Testing"
**Description**

The goal is to add test visual tests for all the components to ensure that the designs are not changed with change in code.
**Problems solved**

Tests make it easy to identify breaking changes and fix them as and when they occur.

**Alternatives**

**Additional context**

**Want to take up?**

Yes

[2020-03-31 05:01] kushaggarwal commented on #30
If available I would like to attend to this @dhruvkb

[2020-03-31 05:06] silvinabt87 commented on #30
@jahnvigupta @dhruvkb @kushaggarwal I'd like to help here too. We could divide components between us.

[2020-03-31 05:15] kushaggarwal commented on #25
I suppose that @megha070 have linked the changes to the issue of replacement with mdx stories for all components
@dhruvkb can you please help as if any of it is left on which I can continue working
Thanks

[2020-03-31 05:42] dhruvkb opened #31 "Add bold (700) weight for Roboto Condensed"
**Description**
Vocabulary uses Roboto Condensed weight 700. It's not added at present but it should be. The goal is to add the weight and all associated documentation.

**Additional context**
Weight 400 was added in #5.

[2020-03-31 05:43] #25 closed

[2020-03-31 05:44] dhruvkb commented on #25
@kushaggarwal see #31.

[2020-03-31 05:45] dhruvkb commented on #30
@jahnvigupta given your experience in doing so, I'd recommend you set up the infrastructure. @silvinabt87 and @kushaggarwal can split the components between themselves.

Please refer to creativecommons/vocabulary for reference on the implementation such as directory structure and `npm` scripts.

[2020-03-31 06:11] kushaggarwal commented on #31
I would like to take this up @dhruvkb
Thank you

[2020-03-31 06:39] kushaggarwal commented on #31
For the updation of the weights I suppose changes need to be made in the `src/stories/roboto_condensed.stories.mdx`
Please advise @dhruvkb

[2020-03-31 07:22] megha070 opened #32 "Replace welcome.stories.js with MDX Doc"
**Description**
Replace welcome.stories.js with MDX Doc

**Reproduction**

**Expected behavior**

**Screenshots**

**Conditions:**

 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Additional context**

**Want to take up?**

[Yes|No]
Yes

[2020-03-31 07:30] #32 closed

[2020-03-31 08:26] kushaggarwal commented on #31
@dhruvkb can you please help

[2020-03-31 10:22] Tanuj22 commented on #31
@kushaggarwal have a look as to how it was added for Source Sans Pro. If you need any further help let me know

[2020-03-31 10:39] kushaggarwal commented on #31
Okay @Tanuj22
Thanks

[2020-03-31 18:09] megha070 opened #36 "Write Unit Tests for components in fonts"
**Description**
The goal is to add unit testing to the repository for all the components

**Problems solved**
Tests make it easy to identify breaking changes and fix them as and when they occur.

**Alternatives**

**Additional context**

**Want to take up?**

[Yes|No]
Yes

[2020-03-31 18:34] silvinabt87 commented on #30
@dhruvkb @jahnvigupta I'm reading the previous tests and about Snapshots to work on this. I'm confused as regards what actually needs to be tested on the Fonts repository. To which components are we referring to? I assumed it was the Vocabulary components, but that's a different repo. Can you help me on this, please?

[2020-03-31 18:46] jahnvigupta commented on #30
You need to create tests for uppercaseLetters, lowercaseLetters, numbers, pangrams, icons page. Basically, we are taking snap of the component implemented in vocabulary and using that to ensure that there are no changes in component design when the code changes.

[2020-03-31 18:47] kushaggarwal commented on #30
@jahnvigupta I suppose it will work in the same manner as you did in vocabulary ?

[2020-03-31 18:48] kushaggarwal commented on #36
Hello
I would also like to contribute to this issue

[2020-03-31 18:49] jahnvigupta commented on #30
yes @kushaggarwal

[2020-03-31 18:50] kushaggarwal commented on #30
Okay thanks
@silvinabt87 which all components are you planning to take up so, that we can work together on this issue

[2020-03-31 18:53] kushaggarwal commented on #36
@dhruvkb please advice as I suppose the unit test here needs to be only implemented for the icons and font-face in styles files
As others are importing the same for implementation

[2020-03-31 19:30] silvinabt87 commented on #30
@kushaggarwal if it's ok with you, I'd like to try icons to begin with, which I think I understand more clearly. Then I can move on to any other component

[2020-03-31 20:08] jahnvigupta commented on #30
@silvinabt87 I just realised that Icons Page has no story so you won't be able to create test for that. I am sorry. Please start with some other component.

[2020-03-31 21:18] kushaggarwal commented on #31
It seems that the bold file woff,woff2 for roboto condensed isnt available in the current repository
So, @dhruvkb can you please advice as if should how should I proceed further

[2020-03-31 21:20] kushaggarwal commented on #30
@silvinabt87 in such a case I think both of us can take up the font components for the purpose of snapshot testing

[2020-04-01 14:54] brenoferreira opened #37 "Deploy .scss files"
The bundled .css file includes everything: Accidenz Commons, Roboto Condensed, Source Sans Pro and the Icons. That's a lot of KBs for a website to load, specially if a website needs only one or two of those things (eg: a website that needs only the icons, or the icons and Roboto Condensed font).

We should deploy the .scss files separately to allow users to import modules individually

[2020-04-01 16:08] dhruvkb commented on #37
Since SCSS files will be compiled in the parent app and break because of an absence of the fonts, deploying independent CSS files would be a better option.

[2020-04-01 16:12] kushaggarwal commented on #31
@dhruvkb can you please help

[2020-04-01 17:12] silvinabt87 commented on #30
@kushaggarwal cool! I can do uppercase and lowercase if it's OK with you. Let me know!

[2020-04-02 02:24] dhruvkb commented on #31
I'm really sorry I hadn't checked in. Can you find the WOFF or WOFF2 files for Roboto Condensed from their officail repositories?

[2020-04-02 08:25] kushaggarwal commented on #31
Yes sure @dhruvkb
Will start working for the same

[2020-04-02 08:26] kushaggarwal commented on #30
As decided lets pick up one font components each and then start testing for the same

[2020-04-02 14:56] dhruvkb commented on #36
Cool, @kushaggarwal you take the mixins in the icons and @megha070 you take the mixins in fonts.

[2020-04-02 15:13] brenoferreira opened #41 "License Icons should have a white background"
**Description**
The [License Icons](https://cc-fonts.netlify.com/?path=/docs/vocabulary-icons--page#cc-licenses) should have a white background instead of being totally transparent.

The [official SVG icons](https://creativecommons.org/about/downloads/) have the white background.

And in CC Search, the transparent icons are very hard to see in some cases:

<img width="388" alt="Screen Shot 2020-04

[2020-04-02 16:14] silvinabt87 commented on #30
@dhruvkb I did a PR with some preliminary work done to solve the issue. I couldn't find where the error is and I need some guidance, if possible. I seem to have something missing, maybe in the dependencies, and no test is found when I run ```npm run test```. The actual test may not be correct but before improving that file, I'd like to have the previous step solved.

[2020-04-02 16:39] kushaggarwal commented on #36
Okay thank you @dhruvkb will start working on it

[2020-04-02 16:42] brenoferreira opened #43 "Add missing icons"
We're missing some icons now, including:

* The CC Heart logo
* The filter icon (which should come in both black and DarkSlateBlue colors)

Icons available at https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=3%3A9

[2020-04-02 18:18] jahnvigupta commented on #30
@silvinabt87 you need to run this command "npm run test:integration".
This will help you:
https://storybook.js.org/docs/testing/automated-visual-testing/

[2020-04-02 19:28] #41 closed

[2020-04-02 19:28] #43 closed

[2020-04-02 19:31] #37 closed

[2020-04-02 20:14] kushaggarwal commented on #31
Hello @dhruvkb I have linked a pull request for Roboto Bold Addition
I noticed that in the current Source-Sans Pro there seems to be Semi Bold too which hasnt been added
So, shall I make a pull request for that too in roboto as well as in accidez common
Please help

[2020-04-03 03:07] dhruvkb commented on #31
@kushaggarwal I'm pretty sure Source Sans Pro has a semibold version with weight 600. Is your branch up to date? Here is a [list of all fonts](https://github.com/creativecommons/fonts/tree/master/src/fonts).

[2020-04-03 09:15] #29 closed

[2020-04-03 11:22] kushaggarwal commented on #31
Hello @dhruvkb
I have updated the current repository of mine and updated the PR too

[2020-04-03 11:25] kushaggarwal commented on #31
I think I wasnt able to make the point clear I wanted to ask that should I add the semi bold font for the roboto-condesed font story as it is not present till now
@dhruvkb Please help

[2020-04-03 13:55] dhruvkb commented on #31
No @kushaggarwal we only need Roboto Condensed in 400 and 700 versions.

[2020-04-03 17:10] kushaggarwal commented on #31
@dhruvkb can you please help as if the addtion of bold or semi bold needs to be done for accidez common font too
Thanks

[2020-04-03 17:12] #31 closed

[2020-04-03 18:17] kushaggarwal commented on #30
@dhruvkb can you please
I have set up the snapshot testing for the roboto condensed font component but when I am trying to set up a common helper template it gives an error upon importing the function from there
the screenshot for the same is as follows
![Screenshot 2020-04-03 at 11 44 54 PM](https://user-images.githubusercontent.com/44523552/78392195-70f15680-7605-11ea-88d7-0c59dcc1b379.png)

[2020-04-04 04:34] jahnvigupta commented on #30
@kushaggarwal Can you share your test code. I also faced this issue and the problem was in test code.

[2020-04-04 04:50] kushaggarwal commented on #30
Okay @jahnvigupta
![Screenshot 2020-04-04 at 10 19 28 AM](https://user-images.githubusercontent.com/44523552/78418863-d07b5080-765d-11ea-87c7-19c8bc81e3ee.png)
here is the screenshot my test code

[2020-04-04 05:06] jahnvigupta commented on #30
@kushaggarwal  Try this
import { setViewport, goTo, pause } from './helpers'

describe('Roboto Condensed Story', () => {
  it('Default', async () => {
    await setViewport(page)
    await goTo(page, 'roboto-condensed--uppercase-letters')
    await pause(1000)
    const image = await page.screenshot()

    expect(image).toMatchImageSnapshot()
  })
})

[2020-04-04 05:09] kushaggarwal commented on #30
I tried with the above code too but the same error still persists

[2020-04-04 05:40] jahnvigupta commented on #30
@kushaggarwal
Run npm run storybook in one terminal
and test command in another

[2020-04-04 09:09] kushaggarwal commented on #30
@jahnvigupta
Still getting the same error

[2020-04-04 10:23] jahnvigupta commented on #30
@kushaggarwal
I ran this command
npm i --save-dev jest-image-snapshot
and it worked

[2020-04-04 10:23] jahnvigupta commented on #30
![Screenshot from 2020-04-04 15-31-09](https://user-images.githubusercontent.com/43217070/78424627-79d93b00-768c-11ea-9827-a26979853051.png)

[2020-04-04 17:57] dhruvkb opened #52 "Setup GitHub Actions"
**Description**
GitHub Actions is providing a feasible alternative to CircleCI for running tests on branches and PRs. It has been implemented in Vocabulary creativecommons/vocabulary#245 and along similar lines must also be implemented in this repository.

**Problems solved**
GitHub Actions has similar features, better integration and higher usage limits as compared to CircleCI. Switching would be

[2020-04-04 19:24] kushaggarwal commented on #30
@jahnvigupta
Can you please share the structure for your snapshot test
Thanks

[2020-04-04 19:26] jahnvigupta commented on #30
I ran your code only.

[2020-04-04 19:34] kushaggarwal commented on #52
Hello @dhruvkb I would like to take this up

[2020-04-04 20:47] kushaggarwal commented on #30
Okay
@dhruvkb can you please help with the above issue

[2020-04-05 08:46] jahnvigupta commented on #30
@kushaggarwal update your local repo and run your test.

[2020-04-05 18:01] silvinabt87 commented on #30
@dhruvkb I tried changing some files but still there is an error (shown in #56 ) that I can't seem to solve. If possible, I'd need some assistance.

[2020-04-05 18:58] dhruvkb commented on #30
I think there's a confusion on running the tests. You need to run the snapshots test using Docker. That's the only way to get OS-independent, browser-independent, version-independent snapshots. See [instructions](https://cc-vocabulary.netlify.com/?path=/docs/vocabulary-contribution--page#testing) from the Vocabulary storybook.

[2020-04-05 19:06] dhruvkb commented on #30
I've added a sample snapshot test in `tests/snapshot/`. The commands for running the tests are
[code]
and
[code]

[2020-04-08 08:26] kushaggarwal commented on #52
Hello @dhruvkb I went through the GitHub actions in vocabulary repository for reference
So, can you please help as if the same steps and jobs need to be present for the fonts repository
Thanks

[2020-04-08 15:19] dhruvkb commented on #52
Check the current CircleCI config in Fonts for the jobs that you need to setup here.

[2020-04-08 17:11] kushaggarwal commented on #52
Okay @dhruvkb will follow accordingly

[2020-04-12 04:44] #36 closed

[2020-04-14 16:07] panchovm opened #60 "Add the new Flag icon to the set"
We need to add the icon `Flag` to the set of icons. [Here is the page](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135&viewport=-91%2C113%2C1.4186440706253052) with the vector

[2020-04-15 00:19] dhruvkb commented on #60
This issue was transferred from `creativecommons/vocabulary`.

[2020-04-16 00:09] #60 closed

[2020-04-16 02:15] #52 closed

[2020-04-18 10:36] megha070 opened #65 "Run Visual Regression tests inside CI"
**Description**

With visual regression tests running stably inside Docker, we can consider merging them into the CI pipeline with GitHub Actions.

**Problems solved**

Visual regression tests bring a lot of the errors happening in the course of the development to light, such as a change in element dimensions, textual content and even subtle changes in colors

**Alternatives**

**Additional contex

[2020-04-18 11:20] dhruvkb commented on #65
Blocking till we iron out the kinks of running visual regression tests in Vocabulary.

[2020-04-22 13:59] panchovm opened #66 "Add the question circle icon"
We need to add the [question circle icon](https://fontawesome.com/icons/question-circle?style=solid) to our set of icons. The icon is currently available in [the Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135&viewport=171%2C217%2C0.7234131097793579).

[2020-04-22 14:16] #66 closed

[2020-04-24 09:58] SaurabhAgarwala opened #68 "Set up CD"
**Description**

By using Github actions, a workflow can be created for setting up Continuous Deployment to push released packages to npm.

**Problems solved**

Currently, released packages are being manually pushed to npm. This can be automated with GitHub Actions so that it can automatically build and publish the package.

**Want to take up?**

Yes. Please assign it to me.

[2020-04-24 18:34] SaurabhAgarwala opened #70 "Test API"
Problem Detected

[2020-04-24 18:34] #70 closed

[2020-04-24 18:38] SaurabhAgarwala commented on #70
Sorry, I was testing an API for another related issue in `cccatalog-api` repo and have mistakenly created this issue. Please delete it.

[2020-04-25 12:46] #68 closed

[2020-04-27 21:43] kushaggarwal opened #72 "Add snapshot test in Github action workflow"
**Description**

This issue aims at the addition of the snapshot test in the current Github workflow

**Problems solved**

Snapshot test added in the current Github workflow currently comprising of only the unit test

**Alternatives**

**Additional context**

**Want to take up?**

Yes

[2020-04-30 07:19] megha070 opened #73 "Set up Continuous Deployment using GitHub actions"
**Description**
Currently, Fonts is being manually pushed to npm. This can be automated with CircleCI so that it can automatically build and publish the package once all tests pass successfully.
**Problems solved**
Triggers running of deploy script whenever a new tag is pushed

**Alternatives**

**Additional context**

**Want to take up?**

[Yes|No]
Yes

[2020-04-30 10:16] SaurabhAgarwala commented on #73
@megha070 This issue has already been created in #68 and resolved in #69 using GitHub Actions. Currently, a similar CD workflow is under debugging process in https://github.com/creativecommons/vocabulary/issues/349 due to some unexpected errors. If you have some solution other than those being discussed, then you are welcome to collaborate on it.

[2020-04-30 13:33] megha070 commented on #73
Sure, Thanks.

[2020-04-30 17:01] megha070 opened #74 "Caching dependencies to speed up CI workflow"
**Description**
Using the cache-hit output, subsequent steps (such as install or build) can be skipped when a cache hit occurs on the key.

**Reproduction**

**Expected behavior**
This should speed up the CI workflow

**Screenshots**

**Conditions:**

 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Additional context**

**Want to take up?**

[Yes|No]
Yes

[2020-05-01 17:55] #30 closed

[2020-05-01 18:37] #73 closed

[2020-05-01 20:31] megha070 commented on #72
Hey @kushaggarwal I have already opened this issue #65. This has been blocked by @dhruvkb until all of the issues are rectified in vocabulary for running visual regression tests.

[2020-05-02 07:15] kushaggarwal commented on #72
Okay sure

[2020-05-02 10:19] dhruvkb commented on #72
Closing as a duplicate of #65, rightly pointed out by @megha070.

[2020-05-02 10:19] #72 closed

[2020-05-05 21:28] panchovm opened #76 "Add the Slack icon"
We need to add the Slack icon to our current set of icons. Here is the [Design Library file](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135&viewport=-324%2C-282%2C2.185558557510376) updated.

[2020-05-06 18:42] #76 closed

[2020-05-19 13:53] Dishebh opened #78 "Add more relevant fonts"
**Description**

I would like to add more relevant fonts to the project. @dhruvkb please suggest if I should go for it? I'm new to the project and would like to contribute.

**Want to take up?**

Yes

[2020-05-19 15:49] dhruvkb commented on #78
@Dishebh this repo only contains fonts that are currently in use in at least one CC project. Before we decide to add more fonts, we should discuss which fonts and why.

[2020-05-19 16:11] Dishebh commented on #78
@dhruvkb makes sense, thanks for clarifying. Since I'm new to the project and would like to participate as a technical writer under CC, I was naturally looking for some beginner-friendly issues to get started with. As to which font to add and why? I'm not really sure about that and so that's why asked you. Kindly let me know if you feel there's a need to add an extra font, and I would be glad to t

[2020-05-20 05:51] dhruvkb commented on #78
@Dishebh I appreciate the initiative. Let's ask @panchovm which monospaced font we're going to be using in the CC OS redesign with and we can add that to our collection.

[2020-05-20 14:08] fcoveram commented on #78
For now, the fonts selected solve all content needs. We are using `JetBrains Mono` for code, in two styles: code big, code normal.

[2020-05-21 16:04] Dishebh commented on #78
@panchovm @dhruvkb So I have to add `JetBrains Mono` font to the repo, right?

[2020-05-25 14:12] fcoveram commented on #78
Yes. Exactly

[2020-05-27 05:57] #78 closed

[2020-05-27 19:23] Dishebh opened #81 "write snapshot test for jetbrains mono typeface"
**Description**

write snapshot test for jetbrains mono typeface

**Want to take up?**

[Yes]

[2020-05-27 19:23] Dishebh commented on #81
@dhruvkb can I work on this? Also, it seems I do not have the permission rights to add snapshot image to the __image_snapshots__ directory.

[2020-05-27 20:27] SaurabhAgarwala opened #82 "CD Workflow failing"
**Description**
The CD workflow present in this repo which is based on the official GitHub Actions documentation is failing when a new release is published with the following error:
`npm ERR! 401 Unauthorized - PUT https://registry.npmjs.org/@creativecommons%2fvocabulary - You must be logged in to publish packages.`
On searching the web for the possible reasons for this error, I found that since t

[2020-05-27 23:27] dhruvkb commented on #81
Actually snapshot tests are proving to be highly fragile and we have turned them off in Vocabulary. Until we can either find a way to make them super reliable, we cannot move forward with it in production.

[2020-05-28 14:11] dhruvkb commented on #82
Reopening till a proper deployment to `npm` is tested in the wild.

[2020-05-28 19:32] panchovm opened #85 "We need to add two icons: plus and minus"
For **The Linked Commons** visualization we need to add two icons to our current set: `plus` and `minus`. [The Design Library file](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=6828%3A0&viewport=60%2C-453%2C2.8821427822113037) has been updated.

[2020-05-28 22:59] #85 closed

[2020-05-28 23:52] dhruvkb commented on #82
Here is some clarification:
- The registry if not provided defaults to https://registry.npmjs.org. This is evident in the linked logs where the URL to which a `PUT` was attempted is seen.
- Scope could be a reason, but since we publish with the `--access public` flag set, this should also not be a cause of the failing build.
- A possible explanation is a mismatch in the tokens, which can be verifi

[2020-05-29 05:51] dhruvkb commented on #82
**Update since #86 merged:**

Publish to GitHub Packages went through flawlessly. The error for `npm` deployment also changed, indicating an improvement in the situation.
[code]

**Further steps:**

Now we need to update the key used in `NODE_AUTH_TOKEN` to one that does not require 2FA.  @kgodey since your `npm` account is set to 2FA for auth + writes, any tokens you generate from your account wi

[2020-05-29 11:54] SaurabhAgarwala commented on #82
Thanks for the clarification @dhruvkb. Things are getting more clear now.

But I have one question, if the scope is not specified, then how will it be identified which package to publish to, either vocabulary of creative commons or the [other vocabulary](https://www.npmjs.com/package/vocabulary) package. Will the package.json be parsed for this purpose?

Also, I am puzzled to see on that changing

[2020-05-29 12:41] kgodey commented on #82
I updated my 2FA settings to be auth-only. Please let me know if you're still running into errors.

[2020-05-29 12:57] kgodey commented on #82
I also generated a new token and updated it on all three Vocabulary repos.

[2020-05-29 13:09] dhruvkb commented on #82
This fixed it. Closing. @SaurabhAgarwala could you update your PRs on the other repos to include the changes made here, including the addition of GitHub Packages?

[2020-05-29 13:09] #82 closed

[2020-05-29 13:36] SaurabhAgarwala commented on #82
Yeah sure @dhruvkb. I will update the PRs in both the vocabulary and vue-vocabulary repo as well

[2020-06-09 15:46] Dishebh opened #90 "Increase the prominence of VocabularyIcons.json in the documentation"
## Problem
The current `Contribution` documentation doesn't focus much light on how you should you go on updating the `VocabularyIcons.json` file after downloading the Icomoon zip folder and updating the relevant stories and .woff and .ttf files.

## Description
The responsible section under the documentation should elaborate on the updating part of `VocabularyIcons.json` file.

## Implementation

[2020-06-11 04:56] dhruvkb opened #92 "Move CC license icons to the right code points"
## Description
Since CC licenses have been included in the Unicode Standard, we can expect more and more fonts to start supporting the license icons in the future. Having the icons at the right code-points would mean that they can then be easily copied and pasted into a different document using a supported font while working as expected.

## Additional context
The [blog post by Eric Steuer](https:

[2020-06-11 18:00] Tanuj22 commented on #92
@dhruvkb I would like to work on this. From what I understood I need to edit the code-points but I am a bit confused which are the code points?
![licnesing-options-unicode-13 0-symbols-1024x726](https://user-images.githubusercontent.com/42486853/84423036-85705180-ac3b-11ea-8544-273842096432.jpg)
Are these it?

[2020-06-11 19:51] Dishebh commented on #92
@dhruvkb can I work on this?

[2020-06-12 02:30] dhruvkb commented on #92
Yes, each font is basically a mapping of a unicode code-point (the blue box in your image) to a glyph (the symbols you actually see on the screen). Currently all the CC icons are assigned to 4-digit code-points instead of these 5-digit ones.

[2020-06-13 11:57] #92 closed

[2020-06-13 16:45] #90 closed

[2020-06-15 07:03] nimishbongale opened #95 "Configure a Dependabot"
## Problem
Version updates are a pain to configure manually.

## Description
Configure the newly released Github-native dependabot to do the same for us.

## Alternatives
Dependabot has moved natively to github, making things a lot easier! Dependabot has already been configured for cc-vocabulary.

## Additional context

* https://github.com/creativecommons/vocabulary/commit/b4802dfdfe0c97ad9e36b3d

[2020-06-16 06:07] #95 closed

[2020-06-23 21:17] panchovm opened #102 "We need to add a new icon: Medium"
We need to add the Medium icon to our set of icons. It is now available in the Design Library. You can find attached the SVG with 512px square for canvas, and 496px for vector.

[icon-medium.zip](https://github.com/creativecommons/fonts/files/4821999/icon-medium.zip)

[2020-06-24 14:52] Dishebh commented on #102
@panchovm can I work on it?

[2020-07-01 16:59] panchovm opened #105 "New icons for CC Search browser extension"
## Description
We need to add three new icons for the CC Search browser extension. The icons can be found in fontawesome and are:
1. Adjust
2. Bookmark regular
3. Bookmark solid

<img width="554" alt="Screen Shot 2020-07-01 at 12 56 52" src="https://user-images.githubusercontent.com/895819/86271264-96f1ad00-bb9a-11ea-8965-aa7b14b5ab3a.png">

The [Design Library](https://www.figma.com/file/l4Mt3dn3

[2020-07-13 16:24] panchovm opened #106 "New icons for feedback messages"
## Description
We need to add two icons for feedback messages:
1. Question
2. Exclamation

The [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135&viewport=77%2C86%2C2.1695289611816406) has been updated and icons can be found in fontawesome.

[2020-07-15 20:16] panchovm opened #107 "New solid icons for up and left arrows"
## Description
We need to add the up and left arrows, solid versions. The [Design Library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=0%3A135&viewport=45%2C181%2C1.2852028608322144) has been updated.

<img width="487" alt="Screen Shot 2020-07-15 at 16 14 06" src="https://user-images.githubusercontent.com/895819/87591435-5031a600-c6b6-11ea-9058-ca175dde2d47.png">

[2020-07-16 18:56] makkoncept commented on #105
@kgodey Can I work on this?

[2020-07-16 19:11] zackkrida commented on #105
@makkoncept Yes, you can!

[2020-07-17 17:12] zackkrida opened #110 "`.icon` Class mismatch with bulma/vocabulary"
## Description
`creativecommons/fonts` uses the class `.icon` on each icon. Bulma, and as a result vocabulary, uses the class `.icon` as a _wrapper_ for icons: https://bulma.io/documentation/elements/icon/

This means that we often end up with the following structure (taken _directly_ from cc search:)

[code]

This causes many styling issues, as bulma's classes are only meant for the _icon wrapper

[2020-07-17 19:11] #105 closed

[2020-07-22 20:39] #106 closed

[2020-07-22 20:41] #107 closed

[2020-07-29 14:42] kgodey commented on #110
Assigned to @dhruvkb and @hugosolar for review and comment.

[2020-07-30 06:33] dhruvkb commented on #110
Renaming the icon class might break a lot of things for a lot of projects in production and force a lot. Changing the selection from just the class `.icon` to element + class
[code]
could be a backwards-compatible way to do this imo.

[2020-07-30 07:07] dhruvkb commented on #110
Since neither approach is backwards compatible and might cause a lot of trouble to the developers who are using Vocabulary icons in their projects, I think we can be to just use the CSS value `unset` on the few properties set by the Bulma `.icon` class on our `i.icon` selector (while we switch to a new icon class) to ensure a smoother transition.

[code]

[2020-08-12 14:25] kgodey commented on #65
We're not doing visual regression tests right now, closing.

[2020-08-12 14:25] #65 closed

[2020-08-12 14:31] kgodey commented on #74
We've disabled visual regression testing, closing this issue.

[2020-08-12 14:31] #74 closed

[2020-08-12 14:45] kgodey commented on #81
Closing because we disabled snapshot tests.

[2020-08-12 14:45] #81 closed

[2020-08-14 13:25] panchovm opened #124 "New icon: CC heart filled"
## Description
We need to add a new icon: `CC heart filled`. The icon is available on the Design Library, icon page.

### Mockup
<img width="276" alt="Screen Shot 2020-08-14 at 09 27 33" src="https://user-images.githubusercontent.com/895819/90254219-68f5be80-de10-11ea-8850-7ac6f9b40de1.png">

[2020-08-14 13:34] zackkrida commented on #124
@panchovm Maybe every time we add a new icon moving forward, we should automatically add the _filled_ version too. What do you think?

We often use the filled version for hover states, it seems.

[2020-08-14 15:23] fcoveram commented on #124
I don't think that Fontawesome has filled versions for all icons we are using. Or at least under its free version.

[2020-08-19 04:57] Aakash2408 commented on #124
What is the path of design library,icon page.

[2020-08-19 06:16] dhruvkb commented on #124
@Aakash2408 you can find them [in our Storybook](https://cc-fonts.netlify.app/?path=/docs/vocabulary-icons--page).

[2020-08-19 07:10] Aakash2408 commented on #124
@panchovm  ok so how we need it like can we use any editor and make it in the form of image,taking reference from the old icon.

[2020-08-19 13:37] dhruvkb commented on #124
@panchovm please attach the SVG for this icon as a 496x496 image on a 512x512 canvas to this issue if possible.

[2020-08-19 14:34] fcoveram commented on #124
Yes! Sorry @dhruvkb, I forgot it 😅

[cc-heart-filled SVG.zip](https://github.com/creativecommons/fonts/files/5097153/cc-heart-filled.SVG.zip)

[2020-08-19 14:35] dhruvkb commented on #124
@Aakash2408 extremely sorry, but we're due for a release today so I have to take this.

[2020-08-19 14:36] Aakash2408 commented on #124
ok no problem I was just gonna ask you where to make changes.

[2020-08-19 14:38] Aakash2408 commented on #124
ok, I get it was needed to be replaced with cc-heart.

[2020-08-19 15:08] #102 closed

[2020-08-19 15:08] #124 closed

[2020-08-26 02:38] zackkrida commented on #110
Fixed in vocabulary via https://github.com/creativecommons/vocabulary/pull/614

[2020-08-26 02:38] #110 closed

[2020-09-02 09:07] chidexebere opened #144 "New icon needed: Plain heart icon"
## Description

We need a plain heart icon to use in the donate button of the new vocabulary header component.  [See Design library](https://www.figma.com/file/l4Mt3dn3Ndtrvrb4aLcwXI/Design-Library?node-id=8439%3A299)

![donate1](https://user-images.githubusercontent.com/25040059/91962170-12d7b500-ed04-11ea-9afa-8d1875d9d83f.png)

hover state
![donnate2](https://user-images.githubusercontent.com/2